In [2]:
## Basic Syntax Rules In Python
## Case sensitivity - python is case sensitive

name = "Chandoo"
Name = "Magan"
print(name)
print(Name)

Chandoo
Magan

In [5]:
## Indentation
## Python needs indentation to define block of code. Tab is required

age = 32
if age >30:
    print(age)
print(age)

32
32

In [7]:
## Single Line comment
print("Hello World")

Hello World

In [9]:
##Line Continuation

total=1+2+3+4+6+7+8+\
    9+1+1+2+\
        4+6
print(total)

54

In [11]:
## Multiple Statment in single Line??
x=5; y=10; z = x+y
print(z)

15

In [13]:
## Understand Sementics In Python
#variable assignment

age = 32 ##age is an integer
name = "Lallu"

In [16]:
type(age)
type(name)

str

In [18]:
#Type inference
variable  = 10
print(type(variable))
variable = "Chaman"
print(type(variable))

<class 'int'>
<class 'str'>

In [20]:
## Name Error

a= 1