In [3]:
range(5)

range(0, 5)

In [5]:
## for loop
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
## for loop
for i in range(5,10):
    print(i)

5
6
7
8
9

In [14]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [16]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [18]:
## String 
str = "Lallu lal"

for i in str:
    print(i)

L
a
l
l
u

l
a
l

In [23]:
## While Loop

## The while loop continues to execute as long as the condition is True

count = 0
while count < 5 :
    print(count)
    count=count+1

0
1
2
3
4

In [26]:
count  = 0

while count % 2 == 0:
    print(count)
    count = count + 1

0

In [29]:
## loop control Statments

## BreaK statement
for i in range(10):
    if i == 6:
        break
    print(i)

0
1
2
3
4
5

In [32]:
## loop control Statments

## Continue statement
for i in range(10):
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9

In [34]:
## Pass Statment

for i in range(10) :
    if i == 3: 
        print("The Number is ", i)
        pass
    print(i)

0
1
2
The Number is  3
3
4
5
6
7
8
9

In [36]:
## Nested Loop

for i in range(3):
    for j in range(2):
        print(f"i: {i} and k : {j}")

i: 0 and k : 0
i: 0 and k : 1
i: 1 and k : 0
i: 1 and k : 1
i: 2 and k : 0
i: 2 and k : 1

In [38]:
## Example  - Calculate the sum of first N Natural Numbers using a while and for loop

## while loop
n=10
sum=0
count=1
while count <= n :
    sum = sum + count
    count = count + 1
    
print("Sum of first 10 natural numbers : ", sum)

Sum of first 10 natural numbers :  55

In [41]:
## using for loop for above example
n=10
sum=0

for i in range(11) : 
    sum = sum + i
print(sum)

55

In [44]:
## Example - Prime Number between 1 and 100


for num in range(1,101):
    if num > 1 :
        for i in range(2,num):
            if num % i == 0 :
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97